In [11]:
%matplotlib inline
import pandas as pd
import datetime
import pandas_datareader
import matplotlib.pylab as plt
import seaborn as sns
from matplotlib.pylab import style
#from pandas_datareader import data
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

style.use('ggplot')
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [27]:
stockFile = 'data/T10yr.csv'
#stock = pd.read_csv(stockFile, index_col = 0,parse_dates=[0])
stock = pd.read_csv(stockFile,index_col = 0,parse_dates=[0])
stock

             Open   High    Low  Close  Volume  Adj Close
Date
2000-01-03  6.498  6.603  6.498  6.548       0      6.548
2000-01-04  6.530  6.548  6.485  6.485       0      6.485
2000-01-05  6.521  6.599  6.508  6.599       0      6.599
2000-01-06  6.558  6.585  6.540  6.549       0      6.549
2000-01-07  6.545  6.595  6.504  6.504       0      6.504
2000-01-10  6.540  6.567  6.536  6.558       0      6.558
2000-01-11  6.600  6.664  6.595  6.664       0      6.664
2000-01-12  6.659  6.696  6.645  6.696       0      6.696
2000-01-13  6.664  6.705  6.618  6.618       0      6.618
2000-01-14  6.623  6.688  6.563  6.674       0      6.674
2000-01-18  6.706  6.757  6.702  6.748       0      6.748
2000-01-19  6.725  6.730  6.707  6.725       0      6.725
2000-01-20  6.781  6.781  6.707  6.748       0      6.748
2000-01-21  6.772  6.823  6.767  6.781       0      6.781
2000-01-24  6.758  6.763  6.684  6.684       0      6.684
2000-01-25  6.675  6.708  6.657  6.684       0      6.684
2000-01-26  6.680  6.703  6.648  6.680       0      6.680
2000-01-27  6.671  6.745  6.411  6.685       0      6.685
2000-01-28  6.736  6.797  6.566  6.648       0      6.648
2000-01-31  6.709  6.709  6.598  6.667       0      6.667
2000-02-01  6.630  6.653  6.603  6.617       0      6.617
2000-02-02  6.617  6.663  6.562  6.598       0      6.598
2000-02-03  6.534  6.553  6.326  6.475       0      6.475
2000-02-04  6.435  6.535  6.412  6.517       0      6.517
2000-02-07  6.581  6.631  6.562  6.631       0      6.631
2000-02-08  6.618  6.622  6.576  6.599       0      6.599
2000-02-09  6.595  6.683  6.577  6.669       0      6.669
2000-02-10  6.552  6.664  6.552  6.656       0      6.656
2000-02-11  6.634  6.647  6.608  6.621       0      6.621
2000-02-14  6.612  6.617  6.539  6.539       0      6.539
...           ...    ...    ...    ...     ...        ...
2016-06-17  1.598  1.622  1.582  1.618       0      1.618
2016-06-20  1.673  1.682  1.656  1.670       0      1.670
2016-06-21  1.680  1.706  1.661  1.697       0      1.697
2016-06-22  1.703  1.711  1.680  1.685       0      1.685
2016-06-23  1.739  1.748  1.708  1.739       0      1.739
2016-06-24  1.526  1.587  1.526  1.579       0      1.579
2016-06-27  1.470  1.490  1.450  1.460       0      1.460
2016-06-28  1.478  1.483  1.450  1.461       0      1.461
2016-06-29  1.465  1.480  1.456  1.477       0      1.477
2016-06-30  1.504  1.512  1.455  1.488       0      1.488
2016-07-01  1.429  1.473  1.414  1.456       0      1.456
2016-07-05  1.402  1.405  1.357  1.367       0      1.367
2016-07-06  1.336  1.395  1.336  1.385       0      1.385
2016-07-07  1.393  1.422  1.370  1.387       0      1.387
2016-07-08  1.390  1.441  1.365  1.366       0      1.366
2016-07-11  1.407  1.434  1.390  1.434       0      1.434
2016-07-12  1.474  1.531  1.471  1.513       0      1.513
2016-07-13  1.476  1.481  1.459  1.468       0      1.468
2016-07-14  1.520  1.551  1.520  1.531       0      1.531
2016-07-15  1.539  1.601  1.536  1.594       0      1.594
2016-07-18  1.577  1.604  1.556  1.587       0      1.587
2016-07-19  1.553  1.575  1.546  1.558       0      1.558
2016-07-20  1.568  1.596  1.566  1.580       0      1.580
2016-07-21  1.601  1.628  1.563  1.565       0      1.565
2016-07-22  1.585  1.599  1.544  1.570       0      1.570
2016-07-25  1.584  1.584  1.554  1.571       0      1.571
2016-07-26  1.559  1.587  1.549  1.563       0      1.563
2016-07-27  1.570  1.570  1.511  1.515       0      1.515
2016-07-28  1.525  1.535  1.493  1.511       0      1.511
2016-07-29  1.525  1.530  1.458  1.458       0      1.458

[4167 rows x 6 columns]

In [29]:
stock[stock.columns[0]]

Date
2000-01-03    6.498
2000-01-04    6.530
2000-01-05    6.521
2000-01-06    6.558
2000-01-07    6.545
2000-01-10    6.540
2000-01-11    6.600
2000-01-12    6.659
2000-01-13    6.664
2000-01-14    6.623
2000-01-18    6.706
2000-01-19    6.725
2000-01-20    6.781
2000-01-21    6.772
2000-01-24    6.758
2000-01-25    6.675
2000-01-26    6.680
2000-01-27    6.671
2000-01-28    6.736
2000-01-31    6.709
2000-02-01    6.630
2000-02-02    6.617
2000-02-03    6.534
2000-02-04    6.435
2000-02-07    6.581
2000-02-08    6.618
2000-02-09    6.595
2000-02-10    6.552
2000-02-11    6.634
2000-02-14    6.612
              ...
2016-06-17    1.598
2016-06-20    1.673
2016-06-21    1.680
2016-06-22    1.703
2016-06-23    1.739
2016-06-24    1.526
2016-06-27    1.470
2016-06-28    1.478
2016-06-29    1.465
2016-06-30    1.504
2016-07-01    1.429
2016-07-05    1.402
2016-07-06    1.336
2016-07-07    1.393
2016-07-08    1.390
2016-07-11    1.407
2016-07-12    1.474
2016-07-13    1.476
2016-07-14    1.520
2016-07-15    1.539
2016-07-18    1.577
2016-07-19    1.553
2016-07-20    1.568
2016-07-21    1.601
2016-07-22    1.585
2016-07-25    1.584
2016-07-26    1.559
2016-07-27    1.570
2016-07-28    1.525
2016-07-29    1.525
Name: Open, Length: 4167, dtype: float64

In [31]:
stock_week = stock['Close'].resample('W-MON').mean()
stock_train = stock_week['2000':'2015']

In [35]:
stock_train.head()

Date
2000-01-03    6.5480
2000-01-10    6.5390
2000-01-17    6.6630
2000-01-24    6.7372
2000-01-31    6.6728
Freq: W-MON, Name: Close, dtype: float64

In [37]:
import tsfresh